body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  font-size: 14px;
  font-family: "Trebuchet MS", "Helvetica", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.8;
}

.buttons {
  text-align: center;
  margin: 25px;

  button {
    display: inline-block;
    padding: 12px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #6FAF6F;
    color: #FFFFFF;
    box-shadow: 0 6px #3f3f3f;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 4px #3f3f3f;
      top: 2px;
    }

    &:active {
      box-shadow: 0 0 #3f3f3f;
      top: 6px;
    }
  }
}

.app {
  padding: 20px 20px 20px 0;
  min-height: 500px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.task {
  .task-input {
    width: 100%;
    padding: 0.3em 1em;
    line-height: 1;
    outline: 0;

    &:before {
      content: '•';
      display: inline;
      margin-right: 0.5em;
      margin-left: -1em;
    }
  }
}

.list {
  margin-left: 20px;
}

.debug {
  button.debug {
    background: #AF6F6F;
  }

  .task-input {
    border-bottom: 1px solid #EFEFEF;

    &:after {
      content: attr(data-id);
      position: absolute;
      right: 0;
      font-size: 0.8em;
      color: red;
    }
  }
}
